# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
frontend/dist

# dependencies
frontend/node_modules

#python stuff
backend/__pycache__
backend/.coverage
backend/GeoLite2-City.mmdb
backend/GeoLite2-City.tar.gz
backend/GeoLite2-City_20180102/

# System Files
.DS_Store
Thumbs.db
*.sublime-workspace

