.search-wrapper{
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}
.search-input{
	padding: 6px 15px 6px 1px;
	margin: 3px; 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: .1px solid lightgrey;
	width: 60%;
}
.search-input:hover{
	border-color: grey;
}
.search-input:focus{
	border-color: grey;
}

.filterHeaders{
	width: 100%;
}
a:visited, a:active{
	color: inherit;
	background: inherit;
}
tr td a{
	color: white;
}

#mainTable{
	display: block;
	overflow-x: auto;
	width: 96%;
	margin: auto;
}
#secondaryTable table thead tr th p-sorticon span {
	display: block !important;
}