.search-wrapper{
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}
.search-input{
	padding: 6px 15px 6px 1px;
	margin: 3px; 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: .1px solid lightgrey;
	width: 40%;
}
.search-input:hover{
	border-color: grey;
}
.search-input:focus{
	border-color: grey;
}

.filterHeaders{
	width: 100%;
}
a:visited, a:active {
	color: inherit;
	background: inherit;
}
tr td a{
	color: white;
}
#mainTable{
	display: block;
	overflow-x: auto;
	margin: auto;
}
:host /deep/ #mainTable table tbody tr{
	cursor: pointer;
}
:host /deep/ #mainTable table tbody tr:hover{
	background-color: lightgrey;
	color: black;
}
:host /deep/ #mainTable table tbody tr:hover td a{
	color: black;
}
#secondaryTable table thead tr th p-sorticon span {
	display: block !important;
}

@media screen and (min-width: 767px) {
    :host /deep/ .ui-dialog.dialog{
        width: 75% !important;
	}
}

@media screen and (max-width: 767px) {
    .search-input{
		width: 96% !important;
		margin: auto;
	}
}