/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css?family=Rajdhani');
 
.ui-blockui div{
	position: relative;
	top: 50%;
}	
.ui-blockui i{
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}
body{
	background-color: #eef1f4;
}
.menu-header{
	border: none;
	margin: none;
}
.menu-header li{
	margin: 0 .2em 0px 0 !important;
	top: 2px !important;
}
