<p-messages [(value)]="msgs"></p-messages>

<!-- Block map when loading -->
<p-blockUI [blocked]="loadingMap">
    <div><i class="fa fa-cog fa-spin fa-3x"></i></div>
</p-blockUI>

<div class="ui-g">
	<div class="ui-g-12" style="text-align: center;">
	    <p-dropdown styleClass="dropdown" id="map-drop" [options]="mapDropdownOptions" placeholder="Select a tag" [filter]="true" (onChange)=tagChangeMap($event.value)></p-dropdown>
	</div>
    <div class = "ui-g-12 map" leaflet
	 [leafletOptions]="options"
     [leafletMarkerCluster]="markerClusterData"
     [leafletMarkerClusterOptions]="markerClusterOptions"
     (leafletMarkerClusterReady)="markerClusterReady($event)">
	</div>
</div>

